Repository halildurmus/win32: changes, and which lefthook commands are due for each by the changed paths.
All: analyze, format, test_ffi_leak_tracker, test_filepicker_windows, test_generator, test_win32, test_win32_clipboard, test_win32_gamepad, test_win32_registry, test_win32_runner, test_winmd

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    analyze:
      glob: '*.{dart}'
      exclude:
        - 'packages/win32/test_fixes/**/*.dart'
      run: dart run halildurmus_hooks:analyze {staged_files}
    format:
      glob: '*.{dart}'
      run: dart run halildurmus_hooks:format {staged_files}
    test_ffi_leak_tracker:
      root: packages/ffi_leak_tracker
      glob: 'packages/ffi_leak_tracker/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_filepicker_windows:
      root: packages/filepicker_windows
      glob: 'packages/filepicker_windows/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_generator:
      root: packages/generator
      glob: 'packages/generator/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32:
      root: packages/win32
      glob: 'packages/win32/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_clipboard:
      root: packages/win32_clipboard
      glob: 'packages/win32_clipboard/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_gamepad:
      root: packages/win32_gamepad
      glob: 'packages/win32_gamepad/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_registry:
      root: packages/win32_registry
      glob: 'packages/win32_registry/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_runner:
      root: packages/win32_runner
      glob: 'packages/win32_runner/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_winmd:
      root: packages/winmd
      glob: 'packages/winmd/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test -- -j 1 --test-randomize-ordering-seed=random

commit-msg:
  commands:
    check_commit:
      run: dart run halildurmus_hooks:check_commit {1}

chore: remove unnecessary ignores
  packages/win32/lib/src/propvariant.dart
  packages/win32/lib/src/variant.dart
  packages/win32_gamepad/lib/src/gamepad_state.dart
  packages/winmd/lib/src/metadata_value.dart
Due: test_win32, test_win32_gamepad, test_winmd

test(win32): update goldens
  packages/generator/test/golden/callback/fontenumproc.g.dart.golden
  packages/generator/test/golden/callback/monitorenumproc.g.dart.golden
  packages/generator/test/golden/callback/wndproc.g.dart.golden
Due: none

Revert "chore: remove unnecessary ignores"
  packages/win32/lib/src/propvariant.dart
  packages/win32/lib/src/variant.dart
  packages/win32_gamepad/lib/src/gamepad_state.dart
  packages/winmd/lib/src/metadata_value.dart
Due: test_win32, test_win32_gamepad, test_winmd

feat(win32): add DNS Service Registration functions
  packages/generator/data/win32_callbacks.json
  packages/generator/data/win32_constants.json
  packages/generator/data/win32_enums.json
  packages/generator/data/win32_functions.json
  packages/generator/data/win32_structs.json
  packages/generator/test/projection_test.dart
  packages/win32/lib/_win32.g.dart
  packages/win32/lib/src/callbacks.g.dart
  packages/win32/lib/src/constants.g.dart
  packages/win32/lib/src/enums.g.dart
  packages/win32/lib/src/structs.g.dart
  packages/win32/lib/src/win32/dnsapi.g.dart
  packages/win32/test/win32/dll/dnsapi.g_test.dart
  packages/win32_runner/example/win32_runner.dart
Due: test_win32

feat(win32): add DNS Service Registration functions (#1118)
  packages/generator/data/win32_callbacks.json
  packages/generator/data/win32_constants.json
  packages/generator/data/win32_enums.json
  packages/generator/data/win32_functions.json
  packages/generator/data/win32_structs.json
  packages/generator/test/projection_test.dart
  packages/win32/lib/_win32.g.dart
  packages/win32/lib/src/callbacks.g.dart
  packages/win32/lib/src/constants.g.dart
  packages/win32/lib/src/enums.g.dart
  packages/win32/lib/src/structs.g.dart
  packages/win32/lib/src/win32/dnsapi.g.dart
  packages/win32/test/win32/dll/dnsapi.g_test.dart
  packages/win32_runner/example/win32_runner.dart
Due: test_win32

chore(winmd): update CHANGELOG
  packages/winmd/CHANGELOG.md
Due: none

chore(release): `package:win32` v6.4.0
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
Due: none

chore(release): `package:win32` v6.4.0 (#1119)
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
Due: none
