Repository halildurmus/win32: changes, and which lefthook commands are due for each by the changed paths.
All: analyze, format, test_generator, test_win32

analyze:
  run: dart run hooks:analyze {staged_files}
  description: Analyzes the code for potential issues

format:
  run: dart run hooks:format {staged_files}
  description: Formats the code according to the project's style guide

test_generator:
  run: dart run hooks:test
  description: Runs the test suite of the generator to ensure all tests pass

test_win32:
  run: dart run hooks:test
  description: Runs the test suite of the win32 to ensure all tests pass

fix: `nodoc` deprecation fix (#949)
  packages/win32/dartdoc_options.yaml
  packages/win32/lib/src/constants_nodoc.dart
Due: test_win32

ci: tweak git-cliff configuration
  packages/win32/cliff.toml
Due: none

chore: add `.gitattributes` to normalize line endings
  .gitattributes
  examples/com_interop/MySolution/MyLibrary/Class1.cs
  examples/com_interop/MySolution/MyLibrary/MyLibrary.csproj
  examples/com_interop/MySolution/MyLibrary/Properties/AssemblyInfo.cs
  examples/com_interop/MySolution/MySolution.sln
Due: none

test: tweak golden test
  packages/generator/test/goldens_test.dart
Due: none

chore: normalize line endings to LF
  .gitattributes
Due: none

revert: "test: tweak golden test"
  packages/generator/test/goldens_test.dart
Due: none

ci: set concurrency to 1 for generator
  .github/workflows/generator.yml
Due: none

ci: set concurrency to 1 for generator (#951)
  .github/workflows/generator.yml
Due: none

chore: perform LF normalization on `.golden` files
  .gitattributes
  packages/generator/test/goldens_test.dart
Due: none

chore: perform LF normalization on `.golden` files (#952)
  .gitattributes
  packages/generator/test/goldens_test.dart
Due: none

fix: fix `PRINTER_ENUM_*` constants
  packages/win32/lib/src/constants.dart
Due: test_win32

fix: fix `PRINTER_ENUM_*` constants (#954)
  packages/win32/lib/src/constants.dart
Due: test_win32

chore(release): v5.10.1
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
Due: none

chore: fix formatting in CHANGELOG.md
  packages/win32/CHANGELOG.md
  packages/win32/cliff.toml
Due: none

chore(release): v5.10.1 (#955)
  packages/win32/CHANGELOG.md
  packages/win32/cliff.toml
  packages/win32/pubspec.yaml
Due: none

fix(task_manager): fix memory leak that causes the app to exit
  examples/task_manager/lib/task_manager.dart
Due: none

fix(task_manager): fix memory leak that causes the app to exit (#958)
  examples/task_manager/lib/task_manager.dart
Due: none

feat: improve projection of flexible array members
  examples/bluetoothle.dart
  examples/dump.dart
  examples/setupapi.dart
  packages/generator/lib/src/projection/field.dart
  packages/generator/lib/src/projection/headers.dart
  packages/win32/lib/src/extensions/_internal.dart
  packages/win32/lib/src/structs.g.dart
Due: test_generator, test_win32

feat: improve projection of flexible array members (#959)
  examples/bluetoothle.dart
  examples/dump.dart
  examples/setupapi.dart
  packages/generator/lib/src/projection/field.dart
  packages/generator/lib/src/projection/headers.dart
  packages/win32/lib/src/extensions/_internal.dart
  packages/win32/lib/src/structs.g.dart
Due: test_generator, test_win32

chore(release): v5.11.0
  .github/workflows/prepare_release.yml
  packages/win32/CHANGELOG.md
  packages/win32/cliff.toml
  packages/win32/pubspec.yaml
  tools/update_changelog.dart
Due: none

chore(release): v5.11.0 (#961)
  .github/workflows/prepare_release.yml
  packages/win32/CHANGELOG.md
  packages/win32/cliff.toml
  packages/win32/pubspec.yaml
  tools/update_changelog.dart
Due: none

chore(release): v5.3.0 (#107)
  CHANGELOG.md
  pubspec.yaml
Due: none

style: format with tall-style (#29)
  .gitattributes
  cliff.toml
  example/create_values.dart
  example/monitor_key.dart
  example/read_values.dart
  lib/src/access_rights.dart
  lib/src/registry_hive.dart
  lib/src/registry_key.dart
  lib/src/registry_value.dart
  lib/src/registry_value_type.dart
  lib/src/utils.dart
  pubspec.yaml
  test/registry_hive_test.dart
  test/registry_key_test.dart
  test/registry_test.dart
  test/registry_value_test.dart
  test/registry_value_type_test.dart
Due: none

chore(deps): bump win32 from 5.8.0 to 5.11.0 (#30)
  lib/src/access_rights.dart
  lib/src/registry.dart
  lib/src/registry_key.dart
  lib/src/registry_value_type.dart
  pubspec.yaml
  test/registry_key_test.dart
  test/registry_test.dart
  test/registry_value_type_test.dart
Due: none

chore(release): v2.1.0 (#31)
  CHANGELOG.md
  pubspec.yaml
Due: none

chore(release): v6.0.0 (#109)
  CHANGELOG.md
  lib/winmd.dart
  pubspec.yaml
  test/models/local_storage_manager_test.dart
  test/models/mdmerge_test.dart
Due: none

chore(deps): migrate winmd from 5.2.0 to 6.0.0
  packages/generator/bin/generator.dart
  packages/generator/example/main.dart
  packages/generator/lib/src/projection/field.dart
  packages/generator/lib/src/projection/type.dart
  packages/generator/pubspec.yaml
  packages/generator/test/com_projection_test.dart
  packages/generator/test/field_projection_test.dart
  packages/generator/test/goldens_test.dart
  packages/generator/test/helpers.dart
  packages/generator/test/input_test.dart
  packages/generator/test/struct_projection_test.dart
  packages/generator/test/type_projection_test.dart
  packages/generator/test/utils_test.dart
  packages/generator/test/vtablestart_test.dart
  packages/generator/test/win32_projection_test.dart
Due: test_generator

chore(deps): migrate winmd from 5.2.0 to 6.0.0 (#963)
  packages/generator/bin/generator.dart
  packages/generator/example/main.dart
  packages/generator/lib/src/projection/field.dart
  packages/generator/lib/src/projection/type.dart
  packages/generator/pubspec.yaml
  packages/generator/test/com_projection_test.dart
  packages/generator/test/field_projection_test.dart
  packages/generator/test/goldens_test.dart
  packages/generator/test/helpers.dart
  packages/generator/test/input_test.dart
  packages/generator/test/struct_projection_test.dart
  packages/generator/test/type_projection_test.dart
  packages/generator/test/utils_test.dart
  packages/generator/test/vtablestart_test.dart
  packages/generator/test/win32_projection_test.dart
Due: test_generator

feat: add `winmdLogger` to control package-wide logging
  lib/src/logger.dart
  lib/src/metadata_store.dart
  lib/src/type_def.dart
  lib/winmd.dart
Due: none

perf: populate TypeDefs lazily
  lib/src/class_layout.dart
  lib/src/constants.dart
  lib/src/custom_attribute.dart
  lib/src/generic_param.dart
  lib/src/interface_impl.dart
  lib/src/metadata_store.dart
  lib/src/method.dart
  lib/src/mixins/custom_attributes_mixin.dart
  lib/src/mixins/generic_params_mixin.dart
  lib/src/mixins/supported_architectures_mixin.dart
  lib/src/pekind.dart
  lib/src/scope.dart
  lib/src/type_def.dart
  lib/src/win32/constants.dart
  lib/winmd.dart
  test/scope_test.dart
Due: none

chore(release): v6.1.0 (#111)
  CHANGELOG.md
  pubspec.yaml
Due: none

Path conditions:
  analyze: any of: *.{dart}, but not: packages/win32/test_fixes/**/*.dart
  format: any of: *.{dart}
  test_generator: any of: packages/generator/{lib,test}/**/*.dart and ^packages/generator/
  test_win32: any of: packages/win32/{lib,test}/**/*.dart and ^packages/win32/
