Repository halildurmus/win32: changes, and which lefthook commands are due for each by the changed paths.
All: analyze, format, test_ffi_leak_tracker, test_filepicker_windows, test_generator, test_win32, test_win32_clipboard, test_win32_gamepad, test_win32_registry, test_win32_runner, test_winmd

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    analyze:
      glob: '*.{dart}'
      exclude:
        - 'packages/win32/test_fixes/**/*.dart'
      run: dart run halildurmus_hooks:analyze {staged_files}
    format:
      glob: '*.{dart}'
      run: dart run halildurmus_hooks:format {staged_files}
    test_ffi_leak_tracker:
      root: packages/ffi_leak_tracker
      glob: 'packages/ffi_leak_tracker/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_filepicker_windows:
      root: packages/filepicker_windows
      glob: 'packages/filepicker_windows/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_generator:
      root: packages/generator
      glob: 'packages/generator/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32:
      root: packages/win32
      glob: 'packages/win32/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_clipboard:
      root: packages/win32_clipboard
      glob: 'packages/win32_clipboard/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_gamepad:
      root: packages/win32_gamepad
      glob: 'packages/win32_gamepad/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_registry:
      root: packages/win32_registry
      glob: 'packages/win32_registry/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_runner:
      root: packages/win32_runner
      glob: 'packages/win32_runner/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_winmd:
      root: packages/winmd
      glob: 'packages/winmd/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test -- -j 1 --test-randomize-ordering-seed=random

commit-msg:
  commands:
    check_commit:
      run: dart run halildurmus_hooks:check_commit {1}

chore(release): `package:win32` v6.0.1 (#1055)
  examples/explorer/.metadata
  examples/explorer/pubspec.yaml
  examples/explorer/windows/flutter/generated_plugins.cmake
  examples/explorer/windows/runner/utils.cpp
  examples/task_manager/.metadata
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
  pubspec.yaml
Due: none

chore(release): `package:win32_registry` v3.0.3
  packages/win32_registry/CHANGELOG.md
  packages/win32_registry/pubspec.yaml
Due: none

chore(release): `package:win32_registry` v3.0.3 (#1056)
  packages/win32_registry/CHANGELOG.md
  packages/win32_registry/pubspec.yaml
Due: none

chore(release): `package:filepicker_windows` v3.0.2
  packages/filepicker_windows/CHANGELOG.md
  packages/filepicker_windows/pubspec.yaml
Due: none

chore(release): `package:filepicker_windows` v3.0.2 (#1057)
  packages/filepicker_windows/CHANGELOG.md
  packages/filepicker_windows/pubspec.yaml
Due: none

chore(release): `package:win32_clipboard` v2.0.3
  packages/win32_clipboard/CHANGELOG.md
  packages/win32_clipboard/pubspec.yaml
Due: none

chore(release): `package:win32_clipboard` v2.0.3 (#1058)
  packages/win32_clipboard/CHANGELOG.md
  packages/win32_clipboard/pubspec.yaml
Due: none

chore(website): migrate to Docusaurus v3.10
  website/blog/2024/07-10-calling-windows-apis/index.mdx
  website/docs/advanced/callbacks.mdx
  website/docs/advanced/com/basic-concepts.mdx
  website/docs/advanced/com/methods.mdx
  website/docs/advanced/leak-tracking.mdx
  website/docs/community/contributing.mdx
  website/docs/core/functions.mdx
  website/docs/core/integer-types.mdx
  website/docs/core/memory-allocation.mdx
  website/docs/core/memory-management-patterns.mdx
  website/docs/core/strings.mdx
  website/docs/core/structs.mdx
  website/docs/getting-started/overview.mdx
  website/docs/getting-started/quick-start.mdx
  website/docs/migration/5xx-to-6xx.mdx
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/src/assets/hero-animation.tsx
  website/src/assets/packages.tsx
  website/src/pages/packages.tsx
  website/src/theme/MDXComponents/index.tsx
  website/src/theme/TabItem/index.tsx
  website/src/theme/Tabs/index.tsx
  website/src/win32-theme/common-layout.tsx
  website/src/win32-theme/common-tab-item.tsx
  website/src/win32-theme/install-packages-command.tsx
  website/tsconfig.json
Due: none

chore(website): migrate to Docusaurus v3.10 (#1063)
  website/blog/2024/07-10-calling-windows-apis/index.mdx
  website/docs/advanced/callbacks.mdx
  website/docs/advanced/com/basic-concepts.mdx
  website/docs/advanced/com/methods.mdx
  website/docs/advanced/leak-tracking.mdx
  website/docs/community/contributing.mdx
  website/docs/core/functions.mdx
  website/docs/core/integer-types.mdx
  website/docs/core/memory-allocation.mdx
  website/docs/core/memory-management-patterns.mdx
  website/docs/core/strings.mdx
  website/docs/core/structs.mdx
  website/docs/getting-started/overview.mdx
  website/docs/getting-started/quick-start.mdx
  website/docs/migration/5xx-to-6xx.mdx
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/src/assets/hero-animation.tsx
  website/src/assets/packages.tsx
  website/src/pages/packages.tsx
  website/src/theme/MDXComponents/index.tsx
  website/src/theme/TabItem/index.tsx
  website/src/theme/Tabs/index.tsx
  website/src/win32-theme/common-layout.tsx
  website/src/win32-theme/common-tab-item.tsx
  website/src/win32-theme/install-packages-command.tsx
  website/tsconfig.json
Due: none

feat(win32): support prebuilt assets in the build hook
  .github/workflows/win32_prebuilt_assets.yml
  packages/generator/bin/generator.dart
  packages/win32/hook/build.dart
  packages/win32/lib/src/hook_helpers/c_build.dart
  packages/win32/lib/src/hook_helpers/download.dart
  packages/win32/lib/src/hook_helpers/hashes.g.dart
  packages/win32/lib/src/hook_helpers/logger.dart
  packages/win32/lib/src/hook_helpers/resources.g.dart
  packages/win32/lib/src/hook_helpers/targets.dart
  packages/win32/lib/src/hook_helpers/version.dart
  packages/win32/pubspec.yaml
  packages/win32/tool/build.dart
  packages/win32/tool/generate_asset_hashes.dart
  pubspec.yaml
Due: test_win32

feat(win32): support prebuilt assets in the build hook (#1064)
  .github/workflows/win32_prebuilt_assets.yml
  packages/generator/bin/generator.dart
  packages/win32/hook/build.dart
  packages/win32/lib/src/hook_helpers/c_build.dart
  packages/win32/lib/src/hook_helpers/download.dart
  packages/win32/lib/src/hook_helpers/hashes.g.dart
  packages/win32/lib/src/hook_helpers/logger.dart
  packages/win32/lib/src/hook_helpers/resources.g.dart
  packages/win32/lib/src/hook_helpers/targets.dart
  packages/win32/lib/src/hook_helpers/version.dart
  packages/win32/pubspec.yaml
  packages/win32/tool/build.dart
  packages/win32/tool/generate_asset_hashes.dart
  pubspec.yaml
Due: test_win32

chore(release): `package:win32` v6.1.0
  packages/win32/CHANGELOG.md
  packages/win32/PUBLISHING.md
  packages/win32/lib/src/hook_helpers/hashes.g.dart
  packages/win32/pubspec.yaml
  packages/win32/tool/generate_asset_hashes.dart
  pubspec.yaml
  website/docs/getting-started/quick-start.mdx
Due: test_win32

chore(release): `package:win32` v6.1.0 (#1065)
  packages/win32/CHANGELOG.md
  packages/win32/PUBLISHING.md
  packages/win32/lib/src/hook_helpers/hashes.g.dart
  packages/win32/pubspec.yaml
  packages/win32/tool/generate_asset_hashes.dart
  pubspec.yaml
  website/docs/getting-started/quick-start.mdx
Due: test_win32

docs(win32): improve docs
  packages/win32/lib/src/extensions/string.dart
  packages/win32/lib/src/hstring.dart
  packages/win32/lib/src/pstr.dart
  packages/win32/lib/src/pwstr.dart
Due: test_win32

docs(win32_registry): improve docs
  packages/win32_registry/lib/src/key.dart
Due: test_win32_registry

docs(website): fix typo
  website/docs/migration/5xx-to-6xx.mdx
Due: none

fix(examples): pass utf8-encoded data to the api
  examples/printer_raw.dart
Due: none

fix(win32): use the correct constant in the `IsWindowsServer` function
  packages/win32/lib/src/inline.dart
Due: test_win32

feat(win32): add `OsVersion` class to reliably detect Windows version
  examples/explorer/lib/main.dart
  examples/version.dart
  packages/win32/example/README.md
  packages/win32/lib/src/functions.dart
  packages/win32/lib/src/version.dart
  packages/win32/lib/win32.dart
  packages/win32/test/version_test.dart
Due: test_win32

feat(win32): add `OsVersion` class to reliably detect Windows version (#1066)
  examples/explorer/lib/main.dart
  examples/version.dart
  packages/win32/example/README.md
  packages/win32/lib/src/functions.dart
  packages/win32/lib/src/version.dart
  packages/win32/lib/win32.dart
  packages/win32/test/version_test.dart
Due: test_win32

docs(website): add `ffi_leak_tracker` to /packages
  website/src/assets/packages.tsx
Due: none

refactor(win32): tweak `OsVersion` equality
  packages/win32/lib/src/version.dart
Due: test_win32

feat(win32): add extension methods to compare and order `GUID` values
  packages/win32/lib/src/extensions/guid.dart
  packages/win32/lib/win32.dart
  packages/win32/test/extensions/guid_test.dart
Due: test_win32

feat(win32): add extension methods to compare and order `GUID` values (#1068)
  packages/win32/lib/src/extensions/guid.dart
  packages/win32/lib/win32.dart
  packages/win32/test/extensions/guid_test.dart
Due: test_win32

feat(win32): add `GET_X_LPARAM` and `GET_Y_LPARAM` macros
  examples/customtitlebar.dart
  examples/system_tray_icon/lib/src/window.dart
  packages/win32/lib/src/macros.dart
  packages/win32/test/win32/macros_test.dart
Due: test_win32

feat(win32): add `GET_X_LPARAM` and `GET_Y_LPARAM` macros (#1072)
  examples/customtitlebar.dart
  examples/system_tray_icon/lib/src/window.dart
  packages/win32/lib/src/macros.dart
  packages/win32/test/win32/macros_test.dart
Due: test_win32

chore(release): `package:win32` v6.2.0
  packages/win32/CHANGELOG.md
  packages/win32/README.md
  packages/win32/pubspec.yaml
Due: none

chore(release): `package:win32` v6.2.0 (#1073)
  packages/win32/CHANGELOG.md
  packages/win32/README.md
  packages/win32/pubspec.yaml
Due: none

ci(workflows): pin to commit SHAs
  .github/workflows/code_generation.yml
  .github/workflows/ffi_leak_tracker.yml
  .github/workflows/filepicker_windows.yml
  .github/workflows/generator.yml
  .github/workflows/lock.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/pull_request_labeler.yml
  .github/workflows/release.yml
  .github/workflows/semantic_pr.yml
  .github/workflows/stale.yml
  .github/workflows/sync_labels.yml
  .github/workflows/website.yml
  .github/workflows/win32.yml
  .github/workflows/win32_clipboard.yml
  .github/workflows/win32_gamepad.yml
  .github/workflows/win32_registry.yml
  .github/workflows/win32_runner.yml
  .github/workflows/winmd.yml
Due: none

ci(workflows): pin to commit SHAs (#1081)
  .github/workflows/code_generation.yml
  .github/workflows/ffi_leak_tracker.yml
  .github/workflows/filepicker_windows.yml
  .github/workflows/generator.yml
  .github/workflows/lock.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/pull_request_labeler.yml
  .github/workflows/release.yml
  .github/workflows/semantic_pr.yml
  .github/workflows/stale.yml
  .github/workflows/sync_labels.yml
  .github/workflows/website.yml
  .github/workflows/win32.yml
  .github/workflows/win32_clipboard.yml
  .github/workflows/win32_gamepad.yml
  .github/workflows/win32_registry.yml
  .github/workflows/win32_runner.yml
  .github/workflows/winmd.yml
Due: none

ci(workflows): bump deps
  .github/workflows/ffi_leak_tracker.yml
  .github/workflows/filepicker_windows.yml
  .github/workflows/generator.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/semantic_pr.yml
  .github/workflows/win32.yml
  .github/workflows/win32_clipboard.yml
  .github/workflows/win32_gamepad.yml
  .github/workflows/win32_registry.yml
  .github/workflows/win32_runner.yml
  .github/workflows/winmd.yml
Due: none

ci: fix Prepare Release workflow
  .github/workflows/prepare_release.yml
Due: none

chore(release): `package:winmd` v7.1.1
  packages/winmd/CHANGELOG.md
  packages/winmd/pubspec.yaml
Due: none

chore(release): `package:winmd` v7.1.1 (#1116)
  packages/winmd/CHANGELOG.md
  packages/winmd/pubspec.yaml
Due: none

feat(win32): add `ResumeThread` and `SuspendThread` APIs
  packages/generator/data/win32_functions.json
  packages/win32/lib/src/win32/kernel32.g.dart
  packages/win32/test/win32/dll/kernel32.g_test.dart
Due: test_win32

feat(win32): add `ResumeThread` and `SuspendThread` APIs (#1117)
  packages/generator/data/win32_functions.json
  packages/win32/lib/src/win32/kernel32.g.dart
  packages/win32/test/win32/dll/kernel32.g_test.dart
Due: test_win32
