Repository halildurmus/win32: changes, and which lefthook commands are due for each by the changed paths.
All: analyze, format, test_ffi_leak_tracker, test_filepicker_windows, test_generator, test_win32, test_win32_clipboard, test_win32_gamepad, test_win32_registry, test_win32_runner, test_winmd

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    analyze:
      glob: '*.{dart}'
      exclude:
        - 'packages/win32/test_fixes/**/*.dart'
      run: dart run halildurmus_hooks:analyze {staged_files}
    format:
      glob: '*.{dart}'
      run: dart run halildurmus_hooks:format {staged_files}
    test_ffi_leak_tracker:
      root: packages/ffi_leak_tracker
      glob: 'packages/ffi_leak_tracker/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_filepicker_windows:
      root: packages/filepicker_windows
      glob: 'packages/filepicker_windows/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_generator:
      root: packages/generator
      glob: 'packages/generator/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32:
      root: packages/win32
      glob: 'packages/win32/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_clipboard:
      root: packages/win32_clipboard
      glob: 'packages/win32_clipboard/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_gamepad:
      root: packages/win32_gamepad
      glob: 'packages/win32_gamepad/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_registry:
      root: packages/win32_registry
      glob: 'packages/win32_registry/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_win32_runner:
      root: packages/win32_runner
      glob: 'packages/win32_runner/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test
    test_winmd:
      root: packages/winmd
      glob: 'packages/winmd/{lib,test}/**/*.dart'
      run: dart run halildurmus_hooks:test -- -j 1 --test-randomize-ordering-seed=random

commit-msg:
  commands:
    check_commit:
      run: dart run halildurmus_hooks:check_commit {1}

ci: add Flutter examples to the workspace
  .github/workflows/code_generation.yml
  .github/workflows/ffi_leak_tracker.yml
  .github/workflows/filepicker_windows.yml
  .github/workflows/generator.yml
  .github/workflows/publish.yml
  .github/workflows/tools.yml
  .github/workflows/win32.yml
  .github/workflows/win32_clipboard.yml
  .github/workflows/win32_gamepad.yml
  .github/workflows/win32_registry.yml
  .github/workflows/win32_runner.yml
  .github/workflows/winmd.yml
  examples/explorer/pubspec.yaml
  examples/task_manager/pubspec.yaml
  packages/filepicker_windows/example/wallpaper/pubspec.yaml
  packages/win32_gamepad/example/inspector/pubspec.yaml
  pubspec.yaml
Due: none

ci: add Flutter examples to the workspace (#1039)
  .github/workflows/code_generation.yml
  .github/workflows/ffi_leak_tracker.yml
  .github/workflows/filepicker_windows.yml
  .github/workflows/generator.yml
  .github/workflows/publish.yml
  .github/workflows/tools.yml
  .github/workflows/win32.yml
  .github/workflows/win32_clipboard.yml
  .github/workflows/win32_gamepad.yml
  .github/workflows/win32_registry.yml
  .github/workflows/win32_runner.yml
  .github/workflows/winmd.yml
  examples/explorer/pubspec.yaml
  examples/task_manager/pubspec.yaml
  packages/filepicker_windows/example/wallpaper/pubspec.yaml
  packages/win32_gamepad/example/inspector/pubspec.yaml
  pubspec.yaml
Due: none

fix(generator): fix `uniqueName` extension method
  packages/generator/lib/src/extensions/method_def.dart
  packages/generator/lib/src/projections/interface.dart
  packages/generator/lib/src/projections/method.dart
  packages/generator/test/extensions/method_def_test.dart
  packages/generator/test/projections/method_test.dart
  packages/generator/test/projections/property_test.dart
Due: test_generator

fix(generator): fix `uniqueName` extension method (#1040)
  packages/generator/lib/src/extensions/method_def.dart
  packages/generator/lib/src/projections/interface.dart
  packages/generator/lib/src/projections/method.dart
  packages/generator/test/extensions/method_def_test.dart
  packages/generator/test/projections/method_test.dart
  packages/generator/test/projections/property_test.dart
Due: test_generator

fix(generator): fix projection of optional query style functions
  packages/generator/lib/src/projections/function.dart
  packages/generator/test/golden/function/dmlcreatedevice.g.dart.golden
Due: test_generator

docs: escape bare [identifier] references
  packages/generator/lib/src/docs/sanitizer.dart
  packages/win32/lib/src/structs.g.dart
Due: test_generator, test_win32

style(ffi_leak_tracker): use dot shorthands
  packages/ffi_leak_tracker/lib/src/allocation.dart
  packages/ffi_leak_tracker/lib/src/allocator.dart
  packages/ffi_leak_tracker/test/emitter_test.dart
Due: test_ffi_leak_tracker

style(win32_clipboard): use dot shorthands
  packages/win32_clipboard/lib/src/clipboard.dart
  packages/win32_clipboard/lib/src/data.dart
  packages/win32_clipboard/lib/src/monitor.dart
  packages/win32_clipboard/lib/src/utils.dart
Due: test_win32_clipboard

style(win32_gamepad): use dot shorthands
  packages/win32_gamepad/example/inspector/lib/dpad.dart
  packages/win32_gamepad/example/inspector/lib/gamepadpage.dart
  packages/win32_gamepad/example/inspector/lib/main.dart
  packages/win32_gamepad/example/inspector/lib/thumbstick.dart
  packages/win32_gamepad/lib/src/gamepad_batteryinfo.dart
  packages/win32_gamepad/test/gamepad_state_test.dart
Due: test_win32_gamepad

style(win32_registry): use dot shorthands
  packages/win32_registry/lib/src/access.dart
  packages/win32_registry/lib/src/config.dart
  packages/win32_registry/lib/src/key.dart
  packages/win32_registry/lib/src/monitor.dart
  packages/win32_registry/lib/src/options.dart
  packages/win32_registry/test/config_test.dart
  packages/win32_registry/test/monitor_test.dart
Due: test_win32_registry

style(win32_runner): use dot shorthands
  packages/win32_runner/lib/src/embedder.dart
  packages/win32_runner/lib/src/window.dart
Due: test_win32_runner

style(win32): use dot shorthands in library code
  packages/win32/lib/src/_internal/win32.dart
  packages/win32/lib/src/bstr.dart
  packages/win32/lib/src/constants.dart
  packages/win32/lib/src/dispatcher.dart
  packages/win32/lib/src/extensions/arena.dart
  packages/win32/lib/src/extensions/filetime.dart
  packages/win32/lib/src/extensions/int.dart
  packages/win32/lib/src/extensions/string.dart
  packages/win32/lib/src/extensions/systemtime.dart
  packages/win32/lib/src/guid.dart
  packages/win32/lib/src/hresult.dart
  packages/win32/lib/src/macros.dart
  packages/win32/lib/src/pcstr.dart
  packages/win32/lib/src/pcwstr.dart
  packages/win32/lib/src/pstr.dart
  packages/win32/lib/src/pwstr.dart
  packages/win32/lib/src/structs.dart
  packages/win32/lib/src/utils.dart
Due: test_win32

style(winmd): use dot shorthands in more places
  packages/winmd/lib/src/reader/table/class_layout.dart
  packages/winmd/lib/src/reader/table/constant.dart
  packages/winmd/lib/src/reader/table/custom_attribute.dart
  packages/winmd/lib/src/reader/table/decl_security.dart
  packages/winmd/lib/src/reader/table/event.dart
  packages/winmd/lib/src/reader/table/event_map.dart
  packages/winmd/lib/src/reader/table/exported_type.dart
  packages/winmd/lib/src/reader/table/field.dart
  packages/winmd/lib/src/reader/table/field_layout.dart
  packages/winmd/lib/src/reader/table/field_marshal.dart
  packages/winmd/lib/src/reader/table/field_rva.dart
  packages/winmd/lib/src/reader/table/generic_param.dart
  packages/winmd/lib/src/reader/table/generic_param_constraint.dart
  packages/winmd/lib/src/reader/table/impl_map.dart
  packages/winmd/lib/src/reader/table/interface_impl.dart
  packages/winmd/lib/src/reader/table/manifest_resource.dart
  packages/winmd/lib/src/reader/table/member_ref.dart
  packages/winmd/lib/src/reader/table/method_def.dart
  packages/winmd/lib/src/reader/table/method_impl.dart
  packages/winmd/lib/src/reader/table/method_semantics.dart
  packages/winmd/lib/src/reader/table/method_spec.dart
  packages/winmd/lib/src/reader/table/nested_class.dart
  packages/winmd/lib/src/reader/table/param.dart
  packages/winmd/lib/src/reader/table/property.dart
  packages/winmd/lib/src/reader/table/property_map.dart
  packages/winmd/lib/src/reader/table/type_def.dart
  packages/winmd/lib/src/reader/table/type_ref.dart
  packages/winmd/test/reader/blob_test.dart
Due: test_winmd

test(winmd): add test for `mdmerge`
  packages/winmd/test/mdmerge_test.dart
Due: none

perf(winmd): optimize reader
  packages/winmd/lib/src/reader/blob.dart
  packages/winmd/lib/src/reader/extensions.dart
  packages/winmd/lib/src/reader/has_custom_attributes.dart
  packages/winmd/lib/src/reader/heap/blob.dart
  packages/winmd/lib/src/reader/heap/guid.dart
  packages/winmd/lib/src/reader/heap/string.dart
  packages/winmd/lib/src/reader/heap/user_string.dart
  packages/winmd/lib/src/reader/metadata_index.dart
  packages/winmd/lib/src/reader/metadata_lookup.dart
  packages/winmd/lib/src/reader/metadata_reader.dart
  packages/winmd/lib/src/reader/row.dart
Due: test_winmd

perf(winmd): optimize reader (#1041)
  packages/winmd/lib/src/reader/blob.dart
  packages/winmd/lib/src/reader/extensions.dart
  packages/winmd/lib/src/reader/has_custom_attributes.dart
  packages/winmd/lib/src/reader/heap/blob.dart
  packages/winmd/lib/src/reader/heap/guid.dart
  packages/winmd/lib/src/reader/heap/string.dart
  packages/winmd/lib/src/reader/heap/user_string.dart
  packages/winmd/lib/src/reader/metadata_index.dart
  packages/winmd/lib/src/reader/metadata_lookup.dart
  packages/winmd/lib/src/reader/metadata_reader.dart
  packages/winmd/lib/src/reader/row.dart
Due: test_winmd

perf(winmd): use async versions of the APIs
  packages/winmd/lib/src/windows_metadata/loader.dart
  packages/winmd/lib/src/windows_metadata/local_storage_manager.dart
Due: test_winmd

refactor: replace global `winmdLogger` with constructor-injected Logger
  packages/winmd/lib/src/logger.dart
  packages/winmd/lib/src/windows_metadata/loader.dart
  packages/winmd/lib/src/windows_metadata/local_storage_manager.dart
Due: test_winmd

refactor(winmd): improve console output
  packages/generator/bin/generator.dart
  packages/generator/pubspec.yaml
  packages/winmd/lib/src/windows_metadata/loader.dart
  packages/winmd/lib/src/windows_metadata/local_storage_manager.dart
  packages/winmd/pubspec.yaml
Due: test_winmd

feat(winmd): retry download with up to 5 attempts
  packages/winmd/lib/src/windows_metadata/local_storage_manager.dart
  packages/winmd/test/windows_metadata/local_storage_manager_test.dart
Due: test_winmd

style(winmd): format file
  packages/winmd/test/windows_metadata/local_storage_manager_test.dart
Due: test_winmd

style(ffi_leak_tracker): improve `toString()` outputs
  packages/ffi_leak_tracker/lib/src/allocation.dart
  packages/ffi_leak_tracker/lib/src/emitter.dart
  packages/ffi_leak_tracker/lib/src/exception.dart
  packages/ffi_leak_tracker/lib/src/utils.dart
  packages/ffi_leak_tracker/test/allocation_test.dart
  packages/ffi_leak_tracker/test/emitter_test.dart
  packages/ffi_leak_tracker/test/exception_test.dart
Due: test_ffi_leak_tracker

chore(release): `package:ffi_leak_tracker` v0.1.1
  packages/ffi_leak_tracker/CHANGELOG.md
  packages/ffi_leak_tracker/pubspec.yaml
Due: none

ci: fix release workflow
  .github/workflows/release.yml
Due: none

ci: fix publish workflow
  .github/workflows/publish.yml
Due: none

chore(release): `package:winmd` v7.1.0
  packages/winmd/CHANGELOG.md
  packages/winmd/lib/src/windows_metadata/loader.dart
  packages/winmd/lib/src/windows_metadata/local_storage_manager.dart
  packages/winmd/pubspec.yaml
Due: test_winmd

ci: migrate to package:melos
  .github/workflows/code_generation.yml
  .github/workflows/ffi_leak_tracker.yml
  .github/workflows/tools.yml
  .github/workflows/win32.yml
  .github/workflows/win32_clipboard.yml
  .github/workflows/win32_registry.yml
  .github/workflows/winmd.yml
  lefthook.yml
  packages/generator/dart_test.yaml
  packages/generator/test/golden_test.dart
  packages/win32/dart_test.yaml
  packages/win32_clipboard/dart_test.yaml
  packages/win32_registry/dart_test.yaml
  packages/winmd/dart_test.yaml
  pubspec.yaml
  tools/README.md
  tools/generate.dart
  tools/test.dart
  tools/update_changelog.dart
  tools/update_goldens.dart
  website/docs/community/contributing.md
Due: none

ci: migrate to package:melos (#1043)
  .github/workflows/code_generation.yml
  .github/workflows/ffi_leak_tracker.yml
  .github/workflows/tools.yml
  .github/workflows/win32.yml
  .github/workflows/win32_clipboard.yml
  .github/workflows/win32_registry.yml
  .github/workflows/winmd.yml
  lefthook.yml
  packages/generator/dart_test.yaml
  packages/generator/test/golden_test.dart
  packages/win32/dart_test.yaml
  packages/win32_clipboard/dart_test.yaml
  packages/win32_registry/dart_test.yaml
  packages/winmd/dart_test.yaml
  pubspec.yaml
  tools/README.md
  tools/generate.dart
  tools/test.dart
  tools/update_changelog.dart
  tools/update_goldens.dart
  website/docs/community/contributing.md
Due: none

test(winmd): add more tests for attributes
  packages/winmd/test/reader/table/custom_attribute_test.dart
Due: test_winmd

chore: lower minimum Dart SDK to 3.10
  CONTRIBUTING.md
  examples/dartnote/pubspec.yaml
  examples/explorer/pubspec.yaml
  examples/manifest/pubspec.yaml
  examples/service_manager_cli/pubspec.yaml
  examples/snake/pubspec.yaml
  examples/system_tray_icon/pubspec.yaml
  examples/task_dialog/pubspec.yaml
  examples/task_manager/pubspec.yaml
  examples/tetris/pubspec.yaml
  examples/usb_drive_monitor/pubspec.yaml
  packages/ffi_leak_tracker/pubspec.yaml
  packages/filepicker_windows/example/wallpaper/pubspec.yaml
  packages/filepicker_windows/pubspec.yaml
  packages/generator/pubspec.yaml
  packages/win32/hook/build.dart
  packages/win32/pubspec.yaml
  packages/win32_clipboard/pubspec.yaml
  packages/win32_gamepad/example/inspector/pubspec.yaml
  packages/win32_gamepad/pubspec.yaml
  packages/win32_registry/pubspec.yaml
  packages/win32_runner/pubspec.yaml
  packages/winmd/lib/src/writer/metadata_writer.dart
  packages/winmd/lib/src/writer/table/exported_type.dart
  packages/winmd/lib/src/writer/table/file.dart
  packages/winmd/lib/src/writer/table/generic_param.dart
  packages/winmd/lib/src/writer/table/impl_map.dart
  packages/winmd/lib/src/writer/table/method_def.dart
  packages/winmd/lib/src/writer/table/type_def.dart
  packages/winmd/pubspec.yaml
  packages/winmd/test/writer/metadata_writer_test.dart
  pubspec.yaml
  website/docs/community/contributing.md
Due: test_winmd

chore: lower minimum Dart SDK to 3.10 (#1053)
  CONTRIBUTING.md
  examples/dartnote/pubspec.yaml
  examples/explorer/pubspec.yaml
  examples/manifest/pubspec.yaml
  examples/service_manager_cli/pubspec.yaml
  examples/snake/pubspec.yaml
  examples/system_tray_icon/pubspec.yaml
  examples/task_dialog/pubspec.yaml
  examples/task_manager/pubspec.yaml
  examples/tetris/pubspec.yaml
  examples/usb_drive_monitor/pubspec.yaml
  packages/ffi_leak_tracker/pubspec.yaml
  packages/filepicker_windows/example/wallpaper/pubspec.yaml
  packages/filepicker_windows/pubspec.yaml
  packages/generator/pubspec.yaml
  packages/win32/hook/build.dart
  packages/win32/pubspec.yaml
  packages/win32_clipboard/pubspec.yaml
  packages/win32_gamepad/example/inspector/pubspec.yaml
  packages/win32_gamepad/pubspec.yaml
  packages/win32_registry/pubspec.yaml
  packages/win32_runner/pubspec.yaml
  packages/winmd/lib/src/writer/metadata_writer.dart
  packages/winmd/lib/src/writer/table/exported_type.dart
  packages/winmd/lib/src/writer/table/file.dart
  packages/winmd/lib/src/writer/table/generic_param.dart
  packages/winmd/lib/src/writer/table/impl_map.dart
  packages/winmd/lib/src/writer/table/method_def.dart
  packages/winmd/lib/src/writer/table/type_def.dart
  packages/winmd/pubspec.yaml
  packages/winmd/test/writer/metadata_writer_test.dart
  pubspec.yaml
  website/docs/community/contributing.md
Due: test_winmd

chore(release): `package:ffi_leak_tracker` v0.1.2
  packages/ffi_leak_tracker/CHANGELOG.md
  packages/ffi_leak_tracker/pubspec.yaml
Due: none

chore(release): `package:ffi_leak_tracker` v0.1.2 (#1054)
  packages/ffi_leak_tracker/CHANGELOG.md
  packages/ffi_leak_tracker/pubspec.yaml
Due: none

chore(release): `package:win32` v6.0.1
  examples/explorer/.metadata
  examples/explorer/pubspec.yaml
  examples/explorer/windows/flutter/generated_plugins.cmake
  examples/explorer/windows/runner/utils.cpp
  examples/task_manager/.metadata
  packages/win32/CHANGELOG.md
  packages/win32/pubspec.yaml
  pubspec.yaml
Due: none
